:root {
    --main-color : #5DA62B;
}

@font-face {
    font-family: welcome_bold;
    src: url(../font/welcome_Bold.ttf);
}

@font-face {
    font-family: welcome_regular;
    src: url(../font/welcome_regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'welcome_regular', sans-serif;
    color: #333;
}

a{
    text-decoration: none;
}

body{
    margin: 0 auto;
}