:root {
    --main-color : #5DA62B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #333;
}

a{
    text-decoration: none;
}

body{
    margin: 0 auto;
}