

.mobile-only{
    display: none;
}

#main-header{
    margin: 0 auto;
}

/* top menu 영역 */

#main-header .top_menu {
    padding-right: 22px;
    padding-top: 10px;
    display: flex;
    justify-content: right;
    margin-bottom: 11px;
}

#main-header .top_menu li:not(:last-child){
    margin-right: 10px;
}

#main-header .top_menu li a{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

#main-header .top_menu li > a >img{
    margin-right: 5px;
}

/* gnb 영역 */

#gnb {
    width: 1396px;
    height: 96px;
    background: rgba(255, 255, 255, 0.9);    
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;    
    transition: all 0.5s;

}

#gnb h2 {
    position: absolute;
    top: 12px;
    left: 35px;
}

#gnb > ul{
    display: flex;
    position: absolute;
    top: 29px;
    right: 219px;
}

#gnb > ul > li:not(:last-child){
    margin-right: 30px;
}

#gnb > ul > li > a{
    display: block;
    width: 120px;
    color: #000;
    font-size: 20px;
}

#gnb > ul > li:hover > a{
    color: var(--main-color);
}


#gnb > ul > li > .depth2{
    font-size: 16px;
    text-align: center;
    display: none;
}

#gnb > ul > li > .depth2.on{
    display: block;
}


#gnb > ul > li > .depth2 > li{
    margin-top: 15px;
    height: 37px;
    width: 120px;
}

#gnb > ul > li > .depth2 > li:first-child{
    margin-top: 36px;
}

#gnb > ul > li > .depth2 > li > a{
    color: #000;
}

#gnb > ul > li > .depth2 > li > a:hover{
    color: var(--main-color);
}

#gnb .menu-line{
    width: 900px;
    height: 3px;
    background: #ccc;
    position: absolute;
    top: 75px;
    right: 203px;
    display: none;
}

#gnb .menu-line.on{
    display: block;
}

#gnb .menu-line-click{
    width: 150px;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    top: 75px;
    left: 291px;
    display: none;
}

#gnb .menu-line-click.on{
    display: block;
}

#gnb > #site-map{
    margin-right: 35px;
    background: transparent;
    border: none;
    position: absolute;
    top: 23px;
    right: 35px;
}

#gnb > #site-map:hover{
    cursor: pointer;
}

/* main-visual 슬라이드 */

#main-header .swiper{
    width: 100%;
    height: 100vh;
    position: relative;
}

/* 메뉴바 고정 */

#main-header .menu-container{
    position: absolute;
    width: 1440px;
    height: 142px;
    z-index: 99;
    display: inline;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#main-header .menu-container .menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}




.swiper .swiper-wrapper .swiper-slide.s1{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main_visual01.jpg);
}

.swiper .swiper-wrapper .swiper-slide.s2{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main_visual02.jpg);
}

.swiper .swiper-wrapper .swiper-slide.s3{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main_visual03.jpg);
}

.swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper .swiper-wrapper .swiper-slide .title{
    text-align: center;
    color: #fff;
    font-size: 45px;
    font-weight: 500;
}

.swiper .swiper-wrapper .swiper-slide .title span {
    font-size: 64px;
}

.swiper-pagination-bullet {
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.75);
  width: 20px !important;
  height: 20px !important;
  background-color: transparent;
  opacity: 1;
  margin-bottom: 75px !important;
}

.swiper-pagination-bullet:not(:last-child){
    margin-right: 50px !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1;
  }

  /* 사이트맵 */

  .sitemap-modal{
      width: 100%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 999;
      position: fixed;
      top: -100vh;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s;
  }

  .sitemap-modal .container{
    width: 1396px;
    height: 96px;
    position: absolute;
    top: 44px;
    margin: 0 auto;
  }


  .sitemap-modal #close{
      position: absolute;
      background-color: transparent;
      border: none;
      top: 20px;
      right: 62px;
  }

  .sitemap-modal #close:hover{
      cursor: pointer;
  }
  
  .sitemap-modal > ul{
    padding-top: 60px;
    width: 100%;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

.sitemap-modal > ul > li{
    width: 196px;
    text-align: center;
}

  .sitemap-modal > ul > li > a{
      color: var(--main-color);
  }

  .sitemap-modal > ul .border{
    width: 100px;
    height: 2px;
    background-color: var(--main-color);
    margin : 20px 0;
    display: inline-block;
  }

  .sitemap-modal .depth2 a{
    color: #000;
  }

  .sitemap-modal .depth2 a:hover{
      color: var(--main-color);
  }

  .sitemap-modal > ul > li:not(:last-child){
      margin-right: 30px;
  }

  .sitemap-modal > ul > li > a{
      font-size: 35px;
      font-weight: 600;
  }

  .sitemap-modal .depth2 li{
    height: 45px;
    line-height: 45px;
    display: block;
  }

  .sitemap-modal .depth2 li:not(:first-child){
      margin-top: 15px;
      
  }

  .sitemap-modal .depth2 li a{
      font-size: 22px;
      font-weight: 500;
  }


  /* about 영역 */

#about{
    width: 1440px;
    height: 908px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#about .img{
    width: 100%;
    height: 100%;
    transition: all 1.5s;
    transform: translateY(100px);
    opacity: 0;
}

#about .img.on{
    transform: translateY(0);
    opacity: 1;
}

#about .img img{
    position: absolute;
    top: 130px;
    right: 136.35px;
    border-radius: 50px;
}

#about .text{
    position: absolute;
    right: 513px;
    top: 329px;
    transform: translateX(-100px);
    transition: all 2s;
    opacity: 0;
}

#about .text.on{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.8s;
}


#about h2{
    text-align: right;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 50px;
}

#about h2 span{
    color: var(--main-color);
}

#about p{
    padding-right: 228Px;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}




/* 배너 영역 */

#banner{
    height: 300px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .title{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#banner .title > p{
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 5px;
}

#banner .title > h3{
    font-size: 48px;
    font-weight: 500;
}

#banner .title > button{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    color: #fff;
    margin-top: 15px;
    background-color: transparent;
    position: relative;
    border: none;
    width: 220px;
    height: 60px;
}

#banner .title > button::before, #banner .title > button::after {
    width: 10%; 
    height: 25%;
    transition: 0.35s;
    position: absolute;
    content: "";
}

#banner .title > button::before {
    top: 0; 
    left: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
#banner .title > button::after {
    bottom: 0; 
    right: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid  #fff;
}

#banner .title > button:hover::before, #banner .title > button:hover::after {
  width: 99%;
  height: 98%;
}

#banner .title > button:hover{
    font-size: 26px;
    cursor: pointer;
}

/* 제목 설정 */

main section .title{
    width: 1440px;
    display: flex;
    font-size: 42px;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
}


main section .title .line{
    width: 140px;
    height: 2px;
    background-color: rgba(93, 166, 43, 0.5);
    margin-top: 30px;
    margin-bottom: 50px;
}



/* sns 영역 */

#sns{
    width: 1440px;
    height: 950px;
    margin: 0 auto;
    padding-top: 97px;
    position: relative;
}

#sns .title{
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
}


#sns .title.on{
    transform: translateY(0);
    opacity: 1;
}

#sns .sns_slide{
    width: 0;
    height: 620px;
    overflow: hidden;
    padding-left: 100px;
    padding-top: 2px;
    transition: all 2s;
    opacity: 0;
}

#sns .sns_slide.on{
    width: 1440px;
    opacity: 1;
}

#sns .sns_slide_wrap{
    display: flex;
    width: calc(1440px * 3);
    height: 610px;
    transform: translateX(0);
    transition: all 0.3s;
}

#sns .sns_container{
    width: 1240px;
    height: 604px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    background-color: #fafafa;
}

#sns .sns_container:not(:last-child){
    margin-right: 105px;
    
}

#sns .sns_container .images{
    display: flex;
    align-items: flex-end;
}

#sns .sns_container .images li:first-child img{
    width: 504px;
    height: 504px;
    margin-right: 96px;
}

#sns .sns_container .images li:nth-child(3){
    margin-right: 33px;
    margin-left: 33px;
}

#sns .sns_container .images li:not(:first-child):hover{
    cursor: pointer;
}

#sns .sns_container .images li img{
    width: 152px;
    height: 141px;
}

#sns .sns_container .text-box{
    width: 522px;
    height: 283px;
    position: absolute;
    top: 82px;
    right: 59px;
}

#sns .sns_container .text-box > h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 35px;
}

#sns .sns_container .text-box > p{
    font-size: 18px;
    font-weight: 400;
}

#sns .sns_container .text-box > a{
    color: #333;
    width: 75px;
    margin-left: 446px;
    display: flex;
    align-items: center;
}

#sns .sns_container .text-box > a > img{
    margin-left: 5px;
}

#sns .btn button{
    background: transparent;
    border: none;
    position: absolute;
    opacity: 0.3;
}

#sns .btn button:hover{
    opacity: 1;
    cursor: pointer;
}

#sns .btn .next{
    top: 470px;
    right: 0;
}

#sns .btn .prev{
    top: 470px;
    left: 0;
}

/* 뉴스 영역 */

#news{
    width: 100%;
    height: 725px;
    background-color: #F4F4F4;
}

#news .title{
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
}


#news .title.on{
    transform: translateY(0);
    opacity: 1;
}

#news .container{
    width: 1440px;
    margin: 0 auto;
    height: 725px;
    position: relative;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#news .info-container{
    margin-top: 30px;
}

#news .info-container .info-box{
    width: 330px;
    height: 330px;
    position: relative;
    overflow: hidden;
    transition: all 2s;
    transform: rotateY(-90deg);
    opacity: 0;
}

#news .info-container .info-box.on{
    transform: rotateY(0);
    opacity: 1;
}

#news .info-container .info-box:nth-child(1){
    background-image: url(../images/news01.jpg);
    transition-delay: 0.2s;
}

#news .info-container .info-box:nth-child(2){
    background-image: url(../images/news02.jpg);
    transition-delay: 0.4s;
}


#news .info-container .info-box:nth-child(3){
    background-image: url(../images/news03.jpg);
    transition-delay: 0.6s;

}


#news .info-container .info-box:nth-child(4){
    background-image: url(../images/news04.jpg);
    transition-delay: 0.8s;

}


#news .info-container .info-box .text{
    background: rgba(97, 124, 78, 0.8);
    width: 330px;
    height: 330px;
    position: absolute;
    top: 236px;
    transition: all 0.5s;
    color: #fff;
}

#news .info-container .info-box .text > h3{
    display: flex;
    width: 330px;
    height: 94px;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#news .info-container .info-box .text p{
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 15px;
    width: 294px;
    text-align: center;
}


#news .info-box .text-box{
    position: relative;
    width: 330px;
    height: 236px;
}


#news .info-container{
    display: flex;
    justify-content: space-between;
}


/* 미디어 영역 */

#media{
    width: 100vw;
    height: 900px;
    position: relative;
}

#media .bg{
    width: 100vw;
    height: 190px;
    background: rgba(93, 166, 43, 0.15);
    position: absolute;
    top: 390px;
}

#media .container{
    width: 1440px;
    height: 900px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

#media .title{
    position: absolute;
    top: 350px;
    left: 35px;
    display: inline-block;
    opacity: 0;
    transition: all 1.5s;
}


#media .title.on{
    opacity: 1;
}

#media .title > p{
    display: inline-block;
    font-size: 50px;
    margin-bottom: 85px;
}

#media .title .btn{
    width: 347px;
    display: flex;
    justify-content: space-between;
}

#media .title .btn button{
    transition: all 0.3s;
}

#media .title .btn .prev:hover {
    transform: translateX(-20px);
    cursor: pointer;
}

#media .title .btn .next:hover {
    transform: translateX(20px);
    cursor: pointer;
}


#media .title .btn .prev img {
    opacity: 0.5;
}

#media .title .btn button{
    border: none;
    background-color: transparent;
}

#media .title .btn p {
    font-size: 20px;
}

#media .media_slide{
    width: 877px;
    height: 720px;
    position: absolute;
    top: 80px;
    right: 0;
    overflow: hidden;
}

#media .media_slide .media_slide_wrap{
    width: 1754px;
    height: 720px;
    display: flex;
    position: relative;
    transition: all 0.5s;
}

#media .media-box{
    width: 380px;
    height: 380px;
    position: absolute;
    transition: all 0.5s;
}

#media .media-box:nth-child(1),#media .media-box:nth-child(3){
    transform: translateY(-50px);
    opacity: 0;
    transition: all 1s;
}

#media .media-box:nth-child(1).on,#media .media-box:nth-child(3).on{
    transform: translateY(0);
    opacity: 1;
}

#media .media-box:nth-child(2),#media .media-box:nth-child(4){
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
}

#media .media-box:nth-child(2).on,#media .media-box:nth-child(4).on{
    transform: translateY(0);
    opacity: 1;
}

#media .media-box:nth-child(1){
    background-image: url(../images/media01.jpg);
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
}

#media .media-box:nth-child(2){
    background-image: url(../images/media02.jpg);
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 458px;
}

#media .media-box:nth-child(3){
    background-image: url(../images/media03.jpg);
    background-position: center;
    background-size: cover;
    top: 0;
    right: 458px;
}

#media .media-box:nth-child(4){
    background-image: url(../images/media04.jpg);
    background-position: center;
    background-size: cover;
    bottom: 0;
    right: 0;
}

#media .media-box .media-title{
    width: 340px;
    height: 340px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.5s;
}


#media .media-box .media-title > h3{
    font-size: 35px;
    font-weight: 600;
}

#media .media-box .media-title > P{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

#media .media-box .media-title button{
    font-size: 16px;
    border: 1px solid #fff;
    padding: 6px 12px;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s;
}

#media .media-box .media-title button:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}

/* footer 영역 */

#main-footer{
    height: 155px;
    background: #333;
    color: #fff;
    justify-content: left;
    align-items: center;
    position: relative;
}

#main-footer .footer-logo{
    position: absolute;
    top: 50px;
    left: 15px;
}

#main-footer .text{
    position: absolute;
    top: 20px;
    left: 168px;
}



#main-footer .text .footer-menu{
    display: flex;
    margin-bottom: 20px;
}

#main-footer .text .footer-menu li a{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

#main-footer .text .footer-menu li span{
    margin: 0 20px;
    font-size: 14px;
}

#main-footer .text p{
    font-size: 14px;
    font-weight: 400;
}

#main-footer .text .copy{
    margin-top: 10px;
}

#main-footer .footer-right{
display: flex;
position: absolute;
top: 20px;
right: 15px;
}

#main-footer .sns{
    display: flex;
    margin-right: 50px;
}

#main-footer .sns li:not(:last-child){
    margin-right: 10px;
}

#family-link{
    width: 200px;
    height: 30px;
}

#main-footer .mark{
    display: flex;
    position: absolute;
    top: 67px;
    right: 15px;
    align-items: center;
}

#main-footer .mark li:not(:last-child){
    margin-right: 20px;
}