.mobile-only{
    display: none;
}


#main-header{
    margin: 0 auto;
}

/* top menu 영역 */

#main-header .top_menu {
    padding-right: 22px;
    padding-top: 10px;
    display: flex;
    justify-content: right;
    margin-bottom: 11px;
}

#main-header .top_menu li:not(:last-child){
    margin-right: 10px;
}

#main-header .top_menu li a{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

#main-header .top_menu li > a >img{
    margin-right: 5px;
}

/* gnb 영역 */

#gnb {
    width: 95vw;
    height: 96px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;    
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    text-align: center;    
    transition: all 0.5s;
    padding-top: 25px;
    overflow: hidden;
}

#gnb > h2 > a > img{
    width: 100px;
}

#gnb > ul {
    display: flex;
    padding-top: 15px;
}

#gnb > ul > li > a{
    width: 12vw;
    display: block;
    color: #000;
    font-size: 16px;
}

#gnb > ul > li:hover > a{
    color: var(--main-color);
}


#gnb > ul > li > .depth2{
    font-size: 14px;
    text-align: center;
    display: none;
}

#gnb > ul > li > .depth2.on{
    display: flex;
    flex-direction: column;
}


#gnb > ul > li > .depth2 > li{
    margin-top: 15px;
    height: 35px;
    width: 12vw;
}

#gnb > ul > li > .depth2 > li:first-child{
    margin-top: 36px;
}

#gnb > ul > li > .depth2 > li > a{
    color: #000;
}

#gnb > ul > li > .depth2 > li > a:hover{
    color: var(--main-color);
}

#gnb .menu-line{
    width: 72vw;
    height: 3px;
    background: #ccc;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#gnb .menu-line.on{
    display: block;
}

#gnb > #site-map{
    margin-right: 35px;
    background: transparent;
    border: none;
}

#gnb > #site-map:hover{
    cursor: pointer;
}

#gnb > #site-map img{
    width: 40px;
}

/* main-visual 슬라이드 */

#main-header .swiper{
    width: 100%;
    height: 100vh;
    position: relative;
}

/* 메뉴바 고정 */

#main-header .menu-container{
    position: absolute;
    width: 100vw;
    height: 142px;
    z-index: 99;
    display: inline;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#main-header .menu-container .menu{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}




.swiper .swiper-wrapper .swiper-slide.s1{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main_visual01.jpg);
}

.swiper .swiper-wrapper .swiper-slide.s2{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main_visual02.jpg);
}

.swiper .swiper-wrapper .swiper-slide.s3{
    background-size: cover;
    background-position: center;
    background-image: url(../images/main_visual03.jpg);
}

.swiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper .swiper-wrapper .swiper-slide .title{
    text-align: center;
    color: #fff;
    font-size: 4vw;
    line-height: 160%;
}

.swiper .swiper-wrapper .swiper-slide .title span {
    font-size: 6vw;
    font-family: 'welcome_bold', sans-serif;
}

.swiper-pagination-bullet {
  border-radius: 0;
  border: 2px solid rgba(255, 255, 255, 0.75);
  width: 20px !important;
  height: 20px !important;
  background-color: transparent;
  opacity: 1;
  margin-bottom: 75px !important;
}

.swiper-pagination-bullet:not(:last-child){
    margin-right: 50px !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1;
  }

  /* 사이트맵 */

  .sitemap-modal{
      width: 100%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 999;
      position: fixed;
      top: -100vh;
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 1s;
  }

  .sitemap-modal .container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 44px;
    margin: 0 auto;
  }


  .sitemap-modal #close{
      position: absolute;
      background-color: transparent;
      border: none;
      top: 20px;
      right: 5vw;
  }

  .sitemap-modal #close img{
    width: 5vw;
  }

  .sitemap-modal #close:hover{
      cursor: pointer;
  }
  
  .sitemap-modal > ul{
    padding-top: 60px;
    width: 100%;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}

.sitemap-modal > ul > li{
    width: 20vw;
    text-align: center;
}

  .sitemap-modal > ul > li > a{
      color: var(--main-color);
  }

  .sitemap-modal > ul .border{
    width: 12vw;
    height: 2px;
    background-color: var(--main-color);
    margin : 8px 0;
    display: inline-block;

}

  .sitemap-modal .depth2 a{
    color: #000;
  }

  .sitemap-modal .depth2 a:hover{
      color: var(--main-color);
  }

  .sitemap-modal > ul > li > a{
      font-size: 2vw;
      font-weight: 600;
  }

  .sitemap-modal .depth2 li{
    height: 30px;
    line-height: 30px;
    display: block;
  }

  .sitemap-modal .depth2 li:not(:first-child){
      margin-top: 15px;
  }

  .sitemap-modal .depth2 li a{
      font-size: 1.5vw;
      font-weight: 500;
  }





  /* about 영역 */

#about{
    width: 100vw;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

#about .img{
    width: 100vw;
    height: 100%;
    transition: all 1.5s;
    transform: translateY(100px);
    opacity: 0;
}

#about .img.on{
    transform: translateY(0);
    opacity: 1;
}

#about .img img{
    position: absolute;
    top: 130px;
    right: 5vw;
    border-radius: 50px;
    width: 40vw;
}

#about .text{
    position: absolute;
    right: 35vw;
    top: 230px;
    transform: translateX(-100px);
    transition: all 2s;
    opacity: 0;
}

#about .text.on{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.8s;
}


#about h2{
    text-align: right;
    font-size: 5vw;
    font-family: 'welcome_bold', sans-serif;
    margin-bottom: 30px;
}

#about h2 span{
    color: var(--main-color);
}

#about p{
    padding-right: 12vw;
    font-size: 2vw;
    text-align: right;
    line-height: 140%;
}




/* 배너 영역 */

#banner{
    height: 180px;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner .title{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#banner .title > p{
    font-size: 20px;
    margin-bottom: 10px;
}

#banner .title > h3{
    font-size: 30px;
    font-family: 'welcome_bold', sans-serif;
}

#banner .title > button{
    display: inline-block;
    font-family: 'welcome_regular';
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
    background-color: transparent;
    position: relative;
    border: none;
    width: 25vw;
    height: 40px;
}

#banner .title > button::before, #banner .title > button::after {
    width: 10%; 
    height: 40%;
    transition: 0.35s;
    position: absolute;
    content: "";
}

#banner .title > button::before {
    top: 0; 
    left: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
#banner .title > button::after {
    bottom: 0; 
    right: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid  #fff;
}

#banner .title > button:hover::before, #banner .title > button:hover::after {
  width: 99%;
  height: 98%;
}

#banner .title > button:hover{
    font-size: 22px;
    cursor: pointer;
}

/* 제목 설정 */

main section .title{
    width: 100vw;
    display: flex;
    font-size: 5vw;
    font-family: 'welcome_bold', sans-serif;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
}


main section .title .line{
    width: 20vw;
    height: 2px;
    background-color: rgba(93, 166, 43, 0.5);
    margin-top: 30px;
    margin-bottom: 50px;
}



/* sns 영역 */

#sns{
    width: 100vw;
    min-height: 180vh;
    max-height: 200vh;
    margin: 0 auto;
    padding: 5vh 0;
    position: relative;
    text-align: center;
    background-color: #fafafa;
}

#sns .title{
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
}


#sns .title.on{
    transform: translateY(0);
    opacity: 1;
}

#sns .sns_slide{
    width: 100vw;
    transition: all 2s;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

#sns .sns_slide.on{
    width: 80vw;
    opacity: 1;
}

#sns .sns_slide_wrap{
    display: flex;
    width: calc(80vw * 3);
    height: 100%;
    transform: translateX(0);
    transition: all 0.3s;
}

#sns .sns_container{
    width: 80vw;
    height: 100%;
    position: relative;
    display: flex;
    left: 0;
    flex-direction: column;
}

#sns .sns_container:not(:last-child){
    margin-right: 10vw;
}

#sns .sns_container .images{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sns .sns_container .images li:first-child img{
    width: 65vw;
    height: 65vw;
}

#sns .sns_container .images li:not(:first-child) img{
    width: 20vw;
    height: 20vw;
}

#sns .sns_container .images li:nth-child(3){
    margin : 5vw;
}

#sns .sns_container .images li:not(:first-child):hover{
    cursor: pointer;
}

#sns .sns_container .images li img{
    width: 152px;
    height: 141px;
}

#sns .sns_container .text-box{
    text-align: center;
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#sns .sns_container .text-box::-webkit-scrollbar{
    display: none;
}

#sns .sns_container .text-box > h3{
    font-size: 20px;
    font-family: 'welcome_bold', sans-serif;
    margin-bottom: 15px;
}

#sns .sns_container .text-box > p{
    font-size: 16px;
}

#sns .btn button{
    background: transparent;
    border: none;
    position: absolute;
    opacity: 0.3;
}

#sns .btn button:hover{
    opacity: 1;
    cursor: pointer;
}

#sns .btn .next{
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#sns .btn .prev{
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

/* 뉴스 영역 */

#news{
    width: 100vw;
    height: 1100px;
    background-color: #F4F4F4;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

#news .container{
    width: 100vw;
    height: 100%;
    margin-top: 20px;
    position: relative;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#news .title{
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
}


#news .title.on{
    transform: translateY(0);
    opacity: 1;
}



#news .info-container{
    width: 85vw;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

#news .info-container .info-box{
    width: 40vw;
    height: 40vw;
    position: relative;
    overflow: hidden;
    transition: all 2s;
    transform: rotateY(-90deg);
    opacity: 0;
    margin-right: 0;
}

#news .info-container .info-box.on{
    transform: rotateY(0);
    opacity: 1;
}

#news .info-container .info-box:nth-child(1){
    background-image: url(../images/news01.jpg);
    background-size: cover;
    transition-delay: 0.2s;
}

#news .info-container .info-box:nth-child(2){
    background-image: url(../images/news02.jpg);
    background-size: cover;
    transition-delay: 0.4s;
}


#news .info-container .info-box:nth-child(3){
    background-image: url(../images/news03.jpg);
    background-size: cover;
    transition-delay: 0.6s;
    margin-top: 40px;

}


#news .info-container .info-box:nth-child(4){
    background-image: url(../images/news04.jpg);
    background-size: cover;
    transition-delay: 0.8s;
    margin-top: 40px;
}


#news .info-container .info-box .text{
    background: rgba(97, 124, 78, 0.8);
    width: 40vw;
    height: 40vw;
    position: absolute;
    top: 30vw;
    transition: all 0.5s;
    color: #fff;
}

#news .info-container .info-box .text > h3{
    display: flex;
    width: 40vw;
    height: 10vw;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#news .info-container .info-box .text p{
    font-size: 16px;
    line-height: 140%;
    margin: 0 auto;
    margin-top: 15px;
    width: 294px;
    text-align: center;
}


#news .info-box .text-box{
    position: relative;
    width: 330px;
    height: 236px;
}


#news .info-container{
    display: flex;
    justify-content: space-between;
}

#news .info-container .info-box .text a{
    position: absolute;
    right: 20px;
    bottom: 20px;
}


/* 미디어 영역 */

#media{
    width: 100vw;
    height: 580px;
    position: relative;
    padding-top: 40px;
}

#media .bg{
    width: 100vw;
    height: 190px;
    background: rgba(93, 166, 43, 0.15);
    position: absolute;
    top: 275px;
}

#media .container{
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#media .title{
    opacity: 0;
    transition: all 1.5s;
}


#media .title.on{
    opacity: 1;
}

#media .title .btn{
    margin-top: 40px;
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#media .title .btn button{
    transition: all 0.3s;
}

#media .title .btn .prev:hover {
    transform: translateX(-20px);
    cursor: pointer;
}

#media .title .btn .next:hover {
    transform: translateX(20px);
    cursor: pointer;
}

#media .title .btn .prev img {
    opacity: 0.5;
}

#media .title .btn button{
    border: none;
    background-color: transparent;
}

#media .title .btn p {
    font-size: 20px;
}

#media .media_slide{
    width: 80vw;
    height: 300px;
    position: absolute;
    top: 160px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

#media .media_slide .media_slide_wrap{
    width: 160vw;
    height: 300px;
    display: flex;
    position: relative;
    transition: all 0.5s;
    justify-content: space-between;
}

#media .media-box{
    width: 300px;
    height: 300px;
    transition: all 0.5s;
}

#media .media-box:nth-child(1),#media .media-box:nth-child(3){
    transform: translateY(-50px);
    opacity: 0;
    transition: all 1s;
}

#media .media-box:nth-child(1).on,#media .media-box:nth-child(3).on{
    transform: translateY(0);
    opacity: 1;
}

#media .media-box:nth-child(2),#media .media-box:nth-child(4){
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
}

#media .media-box:nth-child(2).on,#media .media-box:nth-child(4).on{
    transform: translateY(0);
    opacity: 1;
}

#media .media-box:nth-child(1){
    background-image: url(../images/media01.jpg);
    background-position: center;
    background-size: cover;

}

#media .media-box:nth-child(2){
    background-image: url(../images/media02.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box:nth-child(3){
    background-image: url(../images/media03.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box:nth-child(4){
    background-image: url(../images/media04.jpg);
    background-position: center;
    background-size: cover;
}

#media .media-box .media-title{
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.5s;
}


#media .media-box .media-title > h3{
    font-size: 24px;
    font-family: 'welcome_bold', sans-serif;
}

#media .media-box .media-title > P{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#media .media-box .media-title button{
    font-size: 14px;
    border: 1px solid #fff;
    padding: 3px 5px;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s;
    font-family: 'welcome_regular', sans-serif;
}

#media .media-box .media-title button:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
}




/* footer 영역 */

#main-footer{
    width: 100vw;
    height: 220px;
    background: #333;
    color: #fff;
    justify-content: left;
    align-items: center;
    position: relative;
}

#main-footer .footer-logo{
    position: absolute;
    top: 50px;
    left: 15px;
}

#main-footer .text{
    position: absolute;
    top: 20px;
    left: 200px;
    color: #989898;
}


#main-footer .text .footer-menu{
    display: flex;
    margin-bottom: 15px;
}

#main-footer .text .footer-menu li a{
    color: #989898;
    font-size: 12px;
    font-weight: 400;
}

#main-footer .text .footer-menu li span{
    margin: 0 20px;
    font-size: 10px;
    color: #ccc;
}

#main-footer .text p{
    font-size: 12px;
}

#main-footer .text .copy{
    margin-top: 10px;
}

#main-footer .footer-right{
display: flex;
position: absolute;
top: 135px;
right: 20px;
}

#main-footer .sns{
    display: flex;
    margin-right: 50px;
}

#main-footer .sns li:not(:last-child){
    margin-right: 10px;
}

#family-link{
    width: 210px;
    height: 30px;
}

#main-footer .mark{
    display: flex;
    position: absolute;
    top: 125px;
    left: 20px;
    align-items: center;
}

#main-footer .mark li:not(:last-child){
    margin-right: 20px;
}